
#container a.slidea { background-image: url(../thumbnails/landscape/eck_underfloor.jpg); background-repeat: no-repeat; height:58px; width:90px; }
#container a.slideb { background-image: url(../thumbnails/portrait/ehn_underfloor.jpg); background-repeat: no-repeat; height:58px; width:90px; }
#container a.slidec { background-image: url(../thumbnails/landscape/lh_underfloor.jpg); background-repeat: no-repeat; height:58px; width:90px; }
