
#container a.slidea { background-image: url(../thumbnails/portrait/ccsrj_.jpg); background-repeat: no-repeat; height:134px; width:90px; }
#container a.slideb { background-image: url(../thumbnails/portrait/pge_.jpg); background-repeat: no-repeat; height:134px; width:90px; }
